[submodule "frameworks/three.js"]
	path = frameworks/three.js
	url = https://github.com/mrdoob/three.js.git
[submodule "frameworks/ace"]
	path = frameworks/ace
	url = https://github.com/ajaxorg/ace.git
