/* Author: Tim Baumann
   Project: karol.js */

/* Reset */
* { margin: 0; padding: 0; }

html, body { height: 100%; }

body {
  font: 15px Helvetica, Arial, sans-serif;
}

.bar, #editor, #environment {
  position: absolute;
}

.bar {
  line-height: 40px;
  background: #d55b00; color: #fff;
}
#top-bar {
  left: 0; top: 0; right: 0;
}
h1 {
  font-size: 22px;
  padding: 0 10px;
  text-shadow: 0 1px 0 #000; -moz-text-shadow: 0 1px 0 #000; -webkit-text-shadow: 0 1px 0 #000;
}
#tools {
  position: absolute;
  right: 0; top: 0; bottom: 0;
  width: 55%;
}
input[type=button] {
  background: transparent; color: inherit; border: none;
  text-shadow: 0 1px 0 #000; -moz-text-shadow: 0 1px 0 #000; -webkit-text-shadow: 0 1px 0 #000;
  -webkit-box-shadow: 0 0 5px #a24500; -moz-box-shadow: 0 0 5px #a24500; box-shadow: 0 0 5px #a24500;
  font-size: 12px; line-height: 24px; font-weight: bold;
  padding: 0 10px;
  margin-left: 10px;
}
input[type=button]:hover {
  -webkit-box-shadow: 0 0 5px #8d3c00; -moz-box-shadow: 0 0 5px #8d3c00; box-shadow: 0 0 5px #8d3c00;
  cursor: pointer;
}
input[type=button]:active {
  background: #a24500;
}
input[type=number] {
  width: 50px;
}
#bottom-bar {
  left: 45%; bottom: 0; right: 0;
  height: 40px;
  text-align: center;
}

#editor {
  left: 0;
  width: 45%;
  top: 40px;
  bottom: 0;
}
#environment {
  right: 0;
  width: 55%;
  top: 40px;
  bottom: 40px;
}
