<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>404 &ndash; Page not found</title>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu" />
  <style>
    * { margin: 0; padding: 0; }
    body { background: #eee; font: 14px Ubuntu, Helvetica, Arial, sans-serif; }
    #wrapper { width: 400px; margin: 50px auto; text-align: center; }
    h2, #backlink { margin: 10px 0; }
    h2 { font-size: 20px; font-weight: normal; }
    #backlink { display: block; font-size: 30px; font-weight: bold; }
    #backlink:hover { text-decoration: none; }
    #credits { font-size: 12px; color: #888; }
    #credits a { color: inherit; }
  </style>
</head>

<body>
  <div id="wrapper">
    <h1>
      <img alt="404 -- Page not found" src="/f/404bot.png" />
    </h1>
    <h2>
      <span lang="en">Not found</span>
      /
      <span lang="de">Nicht gefunden</span>
    </h2>
    <a href="/" id="backlink">
      &lArr;
      <span lang="en">Back</span>
      /
      <span lang="de">Zurück</span>
    </a>
    <p id="credits">
      Robot
      <a href="http://creativecommons.org/licences/by-sa/3.0/us/">CC</a>
      by
      <a href="http://substack.net/">James Halliday</a>
    </p>
  </div>

  <script>
    document.getElementById('backlink').onclick = history.back
  </script>
</body>

<html>
