<div class=toolbar id=main-toolbar>
  <h1>Karel.js</h1>
  <div id=tools>
    <input type=button class=left id=run-button value=Run>
    <input type=button class=left id=replay-button value=Replay>
    <input type=button class=left id=reset-button value=Reset>
    <input type=button class=left id=save-button value=Save>
    <label class="left radio"><input type=radio name=view-select id=view-select-3d value=3D checked="checked"> <span>3D<span></label>
    <label class="left radio"><input type=radio name=view-select id=view-select-2d value=2D> <span>2D<span></label>
    <input type=button class=right id=new-button value="New World">
    <div id=new-pane>
      <label><span>Width</span> <input id=width type=number value=11></label>
      <label><span>Depth</span> <input id=depth type=number value=9></label>
      <input type=button id=new-cancel-button value=Cancel>
      <input type=button id=new-apply-button value=Apply>
    </div>
  </div>
</div>
<div id="split-view" class="split-view"></div>
<div class=toolbar id=world-toolbar>
  <input type=button data-method=turnLeft     value="&larr;" title="Links drehen">
  <input type=button data-method=move         value="&uarr;" title="Schritt">
  <input type=button data-method=turnRight    value="&rarr;" title="Rechts drehen">
  <input type=button data-method=putBrick     value="H"      title="Hinlegen">
  <input type=button data-method=removeBrick  value="A"      title="Aufheben">
  <input type=button data-method=toggleMarker value="M"      title="Marke setzen bzw. löschen">
  <input type=button data-method=putBlock     value="Q"      title="Quader hinstellen">
  <input type=button data-method=removeBlock  value="E"      title="Quader entfernen">
</div>

<script>
  $(window).load(function() {
    var project = new Karel.Models.Project()
    project.set(project.parse({{{json}}}), { silent: true })
    
    var application = new Karel.Controllers.Application({ project: project })
    
    //Backbone.history.start()
  })
</script>
