<h2>
  <a class="author" href="{{author}}">{{author}}</a>
  <span class="slash">/</span>
  <a class="title" href="{{author}}/{{title}}">{{title}}</a>
</h2>

<ul>
  <li>
    <a href="{{author}}/{{title}}/edit">
      <b>Edit</b>
    </a>
  </li>
  <li>
    <a href="{{author}}/{{title}}/welt.kdw">Export World as .KDW</a>
  </li>
  <li>
    <a href="{{author}}/{{title}}/programm.kdp">Export .KDP</a>
  </li>
  <li>
    <a href="{{author}}/{{title}}/program.js">Export JavaScript</a>
  </li>
  <li>
  <!--{#authorized}--><a class="remove" href="#">
    <b>Remove</b>
  </a><!--{/authorized}-->
  </li>
</ul>

<script>
  $(window).load(function() {
    var project = new Karel.Models.Project({{{json}}})
    
    $('.remove').click(function(event) {
      // TODO: Confirm
      event.preventDefault()
      project.destroy({ success: function() {
        window.location = project.get('author')
      } })
    })
  })
</script>


{{#description}}
  <h3>Description</h3>
  <p>{{description}}</p>
{{/description}}
