<h2>Software tests</h2>

<p>These tests help ensure that Robot Karel is working correctly:</p>


<script src="f/vendor/jasmine/jasmine.js"></script>
<script src="f/vendor/jasmine/jasmine-html.js"></script>

<script src="f/spec/spec_helper.js"></script>
<script src="f/spec/models/project.js"></script>
<script src="f/spec/views/world_2d.js"></script>
<script src="f/spec/views/world_3d.js"></script>
<script src="f/spec/views/world_base.js"></script>
<script src="f/spec/views/error_bar.js"></script>

<script>
  $('<link rel="stylesheet" href="f/vendor/jasmine/jasmine.css" />')
    .appendTo($('head'))

  var reporter = new jasmine.TrivialReporter()
  var env = jasmine.getEnv()

  env.addReporter(reporter)
  env.execute()

  $('#wrapper').append(reporter.outerDiv)
</script>
