<h2>{{userName}}</h2>

<h3>{{numberOfProjects}} Projects</h3>

<ul class="projects">
  {{#projects}}
  <li data-id="{{_id}}">
    <a href="{{author}}/{{title}}">{{title}}</a>
    <span class="language">({{language}})</span>
    <a class="remove" href="#">Remove</a>
  </li>
  {{/projects}}
</ul>

<script>
  $(document).ready(function() {
    $('.projects .remove').live('click', function(event) {
      event.preventDefault()
      var li = $(this).parent()
      var _id = li.attr('data-id')
      var db = $.couch.db('karel')
      db.openDoc(_id, {
        success: function(doc) {
          db.removeDoc(doc, {
            success: function() {
              li.fadeOut()
              console.log('Document removed', doc)
            }
          })
        }
      })
    })
  })
</script>
