<!DOCTYPE html>
<html>

<head>
<meta charset=utf-8>
<title>Karel.js</title>
<meta name=author content="Tim Baumann">
<link rel=stylesheet href=assets/style.css>

<%- partial('scripts') %>

<body>
<%- body %>
