html,
body.ide,
#application,
#application > .skin-split{
  height: 100%;
  width: 100%;
}

body.ide {
  background: #fff;
}

.ide h1 { font-size: 16px; margin-bottom: 0; }

.world-2d {
  border-spacing: 0;
  border-collapse: collapse;
}
.world-2d td {
  border: 1px solid #000;
  width: 40px; height: 40px; line-height: 40px;
  font-size: 24px;
  text-align: center;
}
.world-2d td.marker, .world-2d td.marker.brick  { background: #cc5; color: #000; }
.world-2d td.block { background: #666; color: #fff; }
.world-2d td.brick { background: #f00; color: #fff; }
