* { margin: 0; padding: 0; }

body {
  font: 14px Ubuntu, Helvetica, Arial, sans-serif;
  background: #eee;
}

#wrapper {
  background: #fff;
  width: 800px;
  margin: 20px auto;
  padding: 20px;
  /*position: relative;*/
          box-shadow: 0 0 20px #ddd;
     -moz-box-shadow: 0 0 20px #ddd;
  -webkit-box-shadow: 0 0 20px #ddd;
}

h1 {
  font-size: 36px;
  margin: 0 0 20px;
}

.session {
  text-align: right;
  float: right;
  width: 360px;
}
.session .username, .session .password {
  width: 120px;
}

a { text-decoration: underline; }
a:hover { text-decoration: none; }
