* { margin: 0; padding: 0; }

body {
  font: 14px Ubuntu, Helvetica, Arial, sans-serif;
  background: #eee;
  padding: 20px 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body.ide {
  padding: 0;
}

#wrapper {
  background: #fff;
  position: relative;
  min-width: 500px; width: 85%; max-width: 800px;
  min-height: 400px;
  margin: auto;
  padding: 20px;
          box-shadow: 0 0 20px #ddd;
     -moz-box-shadow: 0 0 20px #ddd;
  -webkit-box-shadow: 0 0 20px #ddd;
}

h1 { font-size: 24px; margin: 0 0 20px; }
h2 { font-size: 36px; margin: 0 0 20px; }
h3 { font-size: 24px; margin: 0 0 10px; }

.projects { list-style: none; }
.projects li { padding: 8px; }
.projects li:nth-child(even) { background: #eee; }
.projects li:nth-child(odd)  { background: #ddd; }

.session {
  text-align: right;
  float: right;
  width: 380px;
}
.session .username, .session .password {
  width: 120px;
}
.session input {
  margin-left: 4px;
  padding: 2px;
}

a { text-decoration: underline; }
a:hover { text-decoration: none; }

.gh-ribbon {
  display: block; width: 149px; height: 149px;
  position: absolute;  bottom: -2px; right: -2px;
}
.gh-ribbon img {
  display: block;
}


/*
 * IDE
 */

#application,
#application > .skin-split{
  height: 100%;
  width: 100%;
}

body.ide {
  background: #fff;
}

.ide h1 { font-size: 16px; margin-bottom: 0; }

.world-2d {
  border-spacing: 0;
  border-collapse: collapse;
}
.world-2d td {
  border: 1px solid #000;
  width: 40px; height: 40px; line-height: 40px;
  font-size: 24px;
  text-align: center;
}
.world-2d td.marker, .world-2d td.marker.brick  { background: #cc5; color: #000; }
.world-2d td.block { background: #666; color: #fff; }
.world-2d td.brick { background: #f00; color: #fff; }
