* { margin: 0; padding: 0; }

body {
  font: 14px Ubuntu, Helvetica, Arial, sans-serif;
  background: #eee;
}

#wrapper {
  background: #fff;
  width: 800px;
  margin: 20px auto;
  padding: 20px;
          box-shadow: 0 0 20px #ddd;
     -moz-box-shadow: 0 0 20px #ddd;
  -webkit-box-shadow: 0 0 20px #ddd;
}

h1 { font-size: 24px; margin: 0 0 20px; }
h2 { font-size: 36px; margin: 0 0 20px; }
h3 { font-size: 24px; margin: 0 0 10px; }

.projects {
  list-style: none;
}
.projects li {
  padding: 8px;
}
.projects li:nth-child(even) { background: #eee; }
.projects li:nth-child(odd)  { background: #ddd; }

.session {
  text-align: right;
  float: right;
  width: 380px;
}
.session .username, .session .password {
  width: 120px;
}
.session input {
  margin-left: 4px;
  padding: 2px;
}

a { text-decoration: underline; }
a:hover { text-decoration: none; }
